<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post">
      <p>How much do you want to save? <input type="number" name="save"> </p>
      <p>What is your income? <input type="number" name="income"> </p>
      <!-- <p>How often do you want to save? <input type="text" name="save_time"></p> -->
        <select name="save_time">
          <option value="weekly">weekly</option>
          <option value="bi_weekly">bi-weekly</option>
          <option value="monthly">monthly</option>
          <option value="yearly">yearly</option>
        </select>
      <input type="submit" value="Submit">
    </form>


  </body>
</html>
