<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Finals Calculator </title>
    <style>
body {
 background-color: #800000
}

</style>
  </head>
  <body>
    <form method="post">
      <p>What is your grade in the class?<input type="number" name="semester_grade"></p>
      <p>How much is the semester worth of your final grade?<input type="number" name="semester_worth"></p>
      <p>What grade do you want in the class?<input type="number" name="desired_grade"></p>
      <!-- <input type="text" name="myname" value=""> -->
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
