<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="" method="post">
      <p>What is your grade in the class?<input type="text" name="semester_grade"> </p>
      <p>How much is the semester worth of your final grade?<input type="text" name="establish"> </p>
      <p>What grade do you want in the class?<input type="text" name="parking"></p>
      <!-- <input type="text" name="myname" value=""> -->
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
