<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <img src="default-profile-picture.jpg" alt="Default profile picture" style="width:304px;height:228px;">
    <title><bold>Student Helper</bold></title>
  </head>
  <body>
    <form action="" method="post">

      <p> Enter your email: <input type="text" name="username"></p>

      <p> Enter a password: <input type="text" name="password"></p>

      <input type="submit" value="Submit">
    </form>
  <script src="/resources/style.css" type="text/css"
    <html>
